.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advantages__item {
  width: 100%;

  @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}

.advantages__box {
  height: 120px;
  max-width: 100%;

  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.advantages__text {
  line-height: 1.71;
  color: var(--main-text-color);
}
