.team {
  background-color: #f5f4fa;

  &__border {
    background-color: var(--main-page-color);
    padding-bottom: 24px;
    padding-top: 30px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
  }
  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    @media screen and (max-width: 1200px) {
      font-size: 28px;
    }
  }
  &__list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }

  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    width: 100%;

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 16px;
  }
}
